<section class="px-4 py-12">
  <h2 class="mb-6 text-xl font-semibold">商品</h2>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
    {% for product in products.product %}
      <div class="flex flex-col shadow-lg">
        <div class="w-full overflow-hidden">
          <img
            x-data="image"
            x-bind:onerror="handleError"

            src="{{ product.image }}"
            alt="{{ product.name }}"
            class="aspect-video w-full object-cover"
            loading="lazy"
          >
        </div>

        <div class="w-full grid grid-flow-col grid-rows-2 gap-1 p-2">
          <p class="row-span-2 m-2 text-sm font-medium text-wrap">{{ product.name }}</p>
          
          <div class="col-span-2 m-2">
            {% for variant in product.variant %}
              <div class="flex content-around justify-end-safe text-xs">
                {{ variant.piece -}}
                {{- variant.unit }} / {{ variant.price }}円
              </div>
            {% endfor %}
          </div>

          <div class="col-span-2">
            <p class="mx-2 text-xs text-gray-600 text-wrap line-clamp-3">{{ product.description }}</p>
          </div>

          <!-- Variants section -->
        </div>
      </div>
    {% endfor %}
  </div>
</section>
