<section class="px-4 py-12">
  <h2 class="mb-6 text-xl font-semibold">商品</h2>

  <div class="columns-2 md:columns-4 gap-4 space-y-4">
    {% for product in products.product %}
      <div class="flex flex-col pb-2 shadow-lg rounded-lg overflow-hidden">
        <div class="relative w-full overflow-hidden">
          <img
            x-data="image"
            x-bind:onerror="handleError"

            src="{{ product.image }}"
            alt="{{ product.name }}"
            class="aspect-video w-full object-cover mask-b-from-50% mask-b-to-90%"
            loading="lazy"
          >
          <p class="absolute bottom-0 left-0 mx-2 text-sm text-gray-900 font-medium text-pretty">
            {{ product.name }}
          </p>
        </div>

        <div class="w-full">
          <div class="mx-2 my-1">
            {% for variant in product.variant %}
              <div class="flex content-around justify-end-safe text-xs tabular-nums">
                {{ variant.price -}}
                円 / {{ variant.piece -}}
                {{- variant.unit }}
              </div>
            {% endfor %}
          </div>

          <div class="mt-auto pb-2">
            <p class="mx-2 text-xs text-gray-600 text-wrap line-clamp-none">{{ product.description }}</p>
          </div>

          <!-- Variants section -->
        </div>
      </div>
    {% endfor %}
  </div>
</section>
